.DS_Store
.idea
.vscode
*.vcd
runs
tt_submission
src/user_config.tcl
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v

*/__pycache__/
*.py[cod]
*$py.class
.DS_Store
*.net
*.so
*.run
*.pdf
*.ext
.cache
.local/
output*/
work/
build/
